USE [master]
GO
/****** Object:  Database [MonitorDB]    Script Date: 2013-03-26 21:27:07 ******/
CREATE DATABASE [MonitorDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonitorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonitorDB]
GO
/****** Object:  Table [dbo].[ValuesTable]    Script Date: 2013-03-26 21:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ValuesTable](
	[Id] [int] NOT NULL IDentity(1,1),
	[Time] [datetime] NOT NULL,
	[Computer] [varchar](255) NOT NULL,
	[Counter] [varchar](255) NOT NULL,
	[CounterValue] [float] NOT NULL,
 CONSTRAINT [PK_Values] PRIMARY KEY CLUSTERED 
(
	Id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Values]    Script Date: 2013-03-26 21:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Values] ON [dbo].[ValuesTable]
(
	[Computer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
